---
layout: default
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }}</title>
    <!-- 引入highlight.js的黑色主题样式 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/dracula.min.css"> 
    <style>
		.container.page__content pre {
			 background-color: #282c34; 
			 color: #fff; 
			 padding: 15px; 
			 border-radius: 5px; 
			 overflow-x: auto; 
			 overflow-y: auto; 
			 max-height: 600px; 
			 font-family: 'Courier New', monospace; 
			 box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
		 }
	 </style>
</head>
<body>
    <div class="container">
        <div class="page-title-box">
            <div class="row">
                <div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
                    <h1 class="page-title">{{ page.title | escape }}</h1>
                </div>
            </div>
        </div>

        {% if page.image %}
        <div class="page__head">
            <div class="page-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
        </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <!-- begin page -->
            <article class="page col col-8 col-t-10 col-m-12">
                <div class="page__content">
                    {{ content }}
                </div>
            </article>
            <!-- end page -->
        </div>
    </div>

    <!-- 引入highlight.js库 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script> 
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            hljs.highlightAll();
        });
    </script>
</body>